.page-user {
  .profile {
    margin-bottom: 20px;
    padding: 30px 15px;
    @include font(18px, 1.6);
    background: $background;
    h3 {
      max-width: 400px;
      margin: 0 auto 20px;
      text-align: center;
      padding: 15px 0;
      border-bottom: 1px solid #999;
      border-top: 1px solid #999;
    }
  }
}
