header {
  @include font(18px, false, 400);
  .site-title {
    display: block;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: $default-text-shadow;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    @include font(70px, normal, 700);
    color: #fff;
  }
  .contact--minimized {
    address {
      display: block;
      margin: 0;
      padding: 0 0 40px;
      text-align: center;
      text-shadow: $default-text-shadow;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 3px;
      color: #fff;
    }
  }
  .mobile-menu-wrapper {
    margin-bottom: 20px;
    background: $background;
    ul {
      display: table;
      float: none;
      margin: 0 auto;
      table-layout: fixed;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    li {
      float: left;
      a {
        display: block;
        padding: 35px;
        text-decoration: none;
        color: #777;
        &:hover {
          color: #333;
        }
      }
    }
  }
}
