header {
  @include font(18px, false, 400);
  .site-title {
    display: block;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: $default-text-shadow;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    @include font(70px, normal, 700);
    color: #fff;
  }
  .contact--minimized {
    address {
      display: block;
      margin: 0;
      padding: 0 0 40px;
      text-align: center;
      text-shadow: $default-text-shadow;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 3px;
      color: #fff;
    }
  }
  .mobile-menu-wrapper {
    margin-bottom: 20px;
    background: $background;
    ul {
      display: table;
      float: none;
      margin: 0 auto;
      table-layout: fixed;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    li {
      float: left;
      a {
        display: block;
        padding: 35px;
        text-decoration: none;
        color: #777;
        &:hover {
          color: #333;
        }
      }
    }
  }
  @include breakpoint((to: tablet)){
    .wrapper {
      position: relative;
      background: #f8f8f8;
    }
    .site-title {
      display: inline-block;
      height: 50px;
      text-align: left;
      padding: 20px 15px 35px;
      @include font(18px, 20px, 900);
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #777
    }
    .contact--minimized {
      display: none;
    }
    .mobile-menu {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 35px;
      float: right;
      margin: 10px 15px;
      background: url(../images/mobile-menu.png) no-repeat 7px;
      background-size: 35px 30px;
      border: 1px #ddd solid;
      border-radius: 4px;
      opacity: .4;
    }
    .mobile-menu-wrapper {
      display: none;
      background: none;
      border-top: 1px #e7e7e7 solid;
      ul {
        display: block;
        margin: 7.5px -15px;
      }
      li {
        display: block;
        float: none;
        a {
          padding: 10px 15px;
          @include font(14px, 20px);
        }
      }
    }
  }
}
