// ================================== SCREEN RESOLUTION ===================================
$breakpoints: (
  big-desktop: 1200px,
  desktop: 992px,
  tablet: 768,
  mobile: 480px,
);

// ================================== COLORS ===================================
